.left-block-index{
    background: url('../img/bg-index.jpg') no-repeat;
}

.index-text{
    color: #95989a;
    font-size: 52px;
    font-weight: bold;
    margin-top: 90px;
    line-height: 1.2;
}

.main-form-index{
    margin-top: 150px;
}

.advanced-search-link{
    font-size: 14px;
    display: block;
    margin-top: 35px;
}