@import "base";
@import "styleGuide";

$blueMain:#6281c9;
$littleFont:10px;

.container {
    width: 1280px;
    margin: 0 auto;
}

/**********left-block*******************/

.left-block{
    position: fixed;
    width: 300px;
    background: url('../img/bg.jpg') no-repeat;
    height: 100vh;
    background-size: cover;
}

.logo-link{
    background: url('../img/logo.png') no-repeat;
    width: 139px;
    height: 37px;
    position: absolute;
    z-index: 100;
    top: 50px;
    left: 50%;
    transform: translateX(-50%)
    
}

/*******header******/

.header{
    position: relative;
    height: 20px;
}

.header-back{
    background: url('../img/header-back-str.png') no-repeat;
    position: absolute;
    top: 3px;
    left: 0;
    width: 17px;
    height: 16px;
}

.header-maps{
    position: absolute;
    left: 80px;
}

.header-search-text{
    position: absolute;
    left: 180px;
}

.header-search-icon{
    background: url('../img/header-search-icon.png') no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 11px;
    height: 11px;
    left: 235px;
    top: 5px;
}

.header-sign-in{
    position: absolute;
    right: 70px;
    top: 0;
}

.header-menu-icon{
    position: absolute;
    right: 0;
    top: 3px;
    background: url('../img/header-menu-icon.png') no-repeat;
    width: 18px;
    height: 16px;
}

/******right block**************/

.right-block{
    position: relative;
    left: 300px;
    padding: 50px 70px;
    width: 840px;
}

.main-form {
    margin-top: 40px;
}

.group {
    margin-top: 32px;
}

.subgroup {
    margin-top: 17px;
}


.subgroup {
    float: left;
    margin-left: 30px;
}

.square-subgroup{
    margin-top: 28px;
}

.subgroup:first-child {
    margin-left: 0;
}

.submit-button {
    margin-top: 30px;
}

.subgroup-state {
    position: relative;
}

.state-input-window {
    display: none;
}

.state-input-window.active {
    display: block;
    position: absolute;
    background: #fff;
    border: 1px solid #cccccc;
    width: 165px;
    z-index: 10;
}

.state-input-window-list {
    list-style: none;
    margin: 10px;
    padding: 0;
}

.state-input-window-list-li {
    cursor: pointer;
    margin-top: 5px;
}


.input-margin-left{
    margin-left: 10px;
}

.state-input{
    width: 145px;
}

.input-zip{
    @extend .input-margin-left;
    width: 105px;
}

.input-county{
    @extend .input-margin-left;
    width: 105px;
}

.input-city{
    @extend .input-margin-left;
    width: 125px;
}

.input-street{
    @extend .input-margin-left;
    width: 170px;
}

.input-streetnum{
    @extend .input-margin-left;
    width: 135px;
}

.hr{
    background: #c6c6c6;
    width: 100%;
    height: 2px;
    margin-top: 30px;
}

.description-header-sub{   
    background: url('../img/description-icon.png') no-repeat;
    padding: 0 0 0 25px;
    line-height: 1;
}

.subgroup-title-left{
    display: inline-block;
}

.select-margin-left{
    margin-left: 10px;
}

/***************main attrs ***************/

.main-attr-group{
    float: left;
}

.main-attr-sub{
    background: url("../img/main-attr-icon.png") no-repeat;
    padding: 0 0 0 25px;
    line-height: 1;
    height: 16px;
}


.subgroup-element{
    margin-top :10px;
}

.first-subgroup-element{
    margin-top :15px;
}

.main-attr-subgroup-title{
    margin-top: 20px;
}

.main-attr-subgroup{
    margin-left: 55px;
}

/************housing type ******************/
.housing-attr-sub{
    background: url("../img/housing-icon.png") no-repeat;
    padding: 0 0 0 25px;
    line-height: 1;
    height: 16px;
}

.housing-group{
    float: left;
    margin-left: 80px;
}

.first-subgroup-element-checkbox{
    margin-top : 22px;
}

/********parking ******/
.parking-group{
    float: left;
    margin-left: 80px;
}

.parking-sub{
    background: url("../img/parking-icon.png") no-repeat;
    padding: 0 0 0 25px;
    line-height: 1;
    height: 16px;
}

/*******laundry*************/

.laundry-sub{
    background: url("../img/laundry-icon.png") no-repeat;
    padding: 0 0 0 25px;
    line-height: 1;
    height: 17px;
    float: left;
}

.subgroup-element-laundry{
    float:left;
    margin-left:25px;
}

.laundry-select{
    margin-top: -10px;
    width: 258px;
}

/******buttons ********/
.get-info-button{
    margin-left:20px;
}

/*************** range slider ***************************/

.square-range-container {
    width: 410px;
    margin-left: 30px;
    display: inline-block;
}

.square-range-container .range {
    height: 4px;
    background-color: #ececec;
    position: relative;
    @include border-radius(2px);
}

.square-range-container .range_inner {
    height: inherit;
    background-color:$blueMain;
    @include border-radius(2px);
    
}

.square-range-container .range_btn {
    width: 1px;
    height: 18px;
    //box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
    position: absolute;
    top: -7px;
    //background-color: #fff;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border-radius: 2px;
}

.square-range-container span.range_btn_value {
    position: absolute;
    top: -32px;
    font-size: 10px;
    //border: 1px solid #888;
    padding: 4px 2px;
    border-radius: 3px;
    left: -20px;
    background: #fff;
    width: 40px;
    text-align: center;
}

.square-range-container span.range_btn_value:before {
    content: " ";
    width: 0;
    height: 0;
    border: 4px solid rgba(255, 255, 255, 0);
    border-top-color:$blueMain;
    position: absolute;
    bottom: -11px;
    left: 50%;
    margin-left: -5px;
}

.square-range-container span.range_btn_value:after {
    content: " ";
    width: 0;
    height: 0;
    border: 4px solid rgba(255, 255, 255, 0);
    border-top-color:$blueMain;   
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -5px;
}

.square-range-container .range_inner {
    position: absolute;
    width: 100%;
}

.square-range-container .range_btn[data-type=min-btn] {
    left: 0px;
}

.square-range-container .range_btn[data-type=max-btn] {
    right: 0px;
}

.square-range-container .values {
    margin-top: 40px;
}

.square-range-container .values .values-span {
    position: absolute;
    font-size: 14px;
    top: 20px;
}

.square-range-container .values .values-span.min-value {
    left: -20px;
}

.square-range-container .values .values-span.max-value {
    right: -20px;
}


@import "helpers";