.info-contetnt{
    display: none;
}

.info-contetnt.active{
    display: block;
}

.menu-info{
    margin-top: 30px;
    background: #cccccc;
}

.menu-info-link{
    color: #747474;
    padding:13px 33px;
    position: relative;
    font-size: 12px;
    text-decoration:none;
    display: inline-block;
}

.menu-info-link.active{
    color: #fff;
}

.menu-info-link.active:after{
    content: '';
    border: 5px solid transparent;
    border-bottom: 5px solid #fff;
    position: absolute;
    left: 50%;
    margin-left: -5px;
    bottom: 0px;
    width: 0;
}

.info-contetnt{
    background: #fcfcfc;
    padding: 20px 35px;
}

.info-contetnt-address-data-block-title{
    font-size: 12px;
}

.info-contetnt-address-data-block-value{
    color: #6281c9;
}

.info-contetnt-map, .info-contetnt-address-block, .info-contetnt-address-data-block{
    float:left;
}

.info-contetnt-address-block{
    margin: 0 0 0 30px;
}

.info-contetnt-address-data-blocks{
    margin: 20px 0 0 0;
}

.info-contetnt-address-data-block{
    margin: 0 0 0 40px
}

/*****props block ****/
.info-contetnt-props-container{
    margin-top: 35px;
}

.info-contetnt-props-block{
    font-size: 12px;
    line-height: 1;
    height: 25px;
    padding: 0 0 0 30px;
    float: left;
    margin-left: 40px;
}

.info-contetnt-props-block-beds, .info-contetnt-props-block-baths{
    line-height: 1.8;
}

.info-contetnt-props-block:first-child{
    margin-left: 0px;
}

.info-contetnt-props-block-type{
    background: url('../img/icons/info-prop-type-icon.png') no-repeat;
}

.info-contetnt-props-block-year{
    background: url('../img/icons/info-prop-year-built-icon.png') no-repeat;
}

.info-contetnt-props-block-square{
    background: url('../img/icons/info-prop-square-icon.png') no-repeat;
}

.info-contetnt-props-block-beds{
    background: url('../img/icons/info-prop-beds-icon.png') no-repeat;
}

.info-contetnt-props-block-baths{
    background: url('../img/icons/info-prop-baths-icon.png') no-repeat;
}

.info-contetnt-props-block-radius{
    background: url('../img/icons/info-prop-search-icon.png') no-repeat;
}

/***socials***/
.info-contetnt-socials{
    margin-top: 35px;
}

.info-contetnt-socials-block{
    margin-top: 35px;
}

.info-contetnt-socials-title{
    color:$blueMain;
}

.info-contetnt-socials-block{
    float: left;
    margin-left: 40px;
    width: 160px;
}

.info-contetnt-socials-block:first-child{
    margin-left: 0;
}

.info-contetnt-socials-block-title{
    padding: 0 0 0 30px;
 }

.info-contetnt-socials-block-title-schools{
    background: url('../img/icons/socials-school-icon.png') no-repeat;
}

.info-contetnt-socials-block-title-markets{
    background: url('../img/icons/socials-markets-icon.png') no-repeat;
}

.info-contetnt-socials-block-title-hospital{
    background: url('../img/icons/socials-hospital-icon.png') no-repeat;
}

.info-contetnt-socials-block-title-metro{
    background: url('../img/icons/socials-metro-icon.png') no-repeat;
}

.info-contetnt-socials-block-list{
    margin-top: 20px;
    line-height: 2;
    font-size: 12px;
}


/****recommendation*****/
.recommendation-content{
    display: none;
}

.recommendation-content.active{
    display: block;
}

.recommendation-content-title{
    margin-top: 20px;
}

.recommendation-content-blocks-container{
   margin: 20px 0 0 0;   
}

.recommendation-content-blocks-container-row{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    margin-top:20px;
}

.recommendation-content-blocks-container-row:first-child{
    margin-top: 0;
}

.recommendation-content-block{
    padding: 20px;
    background: #fff;
    border: 1px solid #f5f5f5;  
    width: 31%;
    box-sizing: border-box;
}

.recommendation-content-block-list{
    font-size: 12px;
    line-height: 2;
}


.recommendation-content-block-title{
    padding: 0 0 0 25px;
}

.recommendation-content-block-list-li-text{
    float: left;    
    width: 50%;    
}

.recommendation-content-block-list-li-value{
    float: left;    
    width: 42%;  
    text-align: right;
}

.recommendation-content-block-list-li-icon{
    float: right;  
    width: 13px;
    height: 7px;
}

.recommendation-content-block-title-wall-color{
    background: url('../img/icons/recommendation-wall-color-icon.png') no-repeat;
}

.recommendation-content-block-title-pets{
    background: url('../img/icons/recommendation-pets-icon.png') no-repeat;
}

.recommendation-content-block-title-furniture{
    background: url('../img/icons/recommendation-furniture-icon.png') no-repeat;
}

.recommendation-content-block-title-tech{
    background: url('../img/icons/recommendation-tech-icon.png') no-repeat;
}

.recommendation-content-block-title-parking{
    background: url('../img/icons/recommendation-parking-icon.png') no-repeat;
}





.recommendation-content-block-list-li-icon-up{
    background: url('../img/icons/rec-str-up-icon.png') no-repeat;
    margin-top: 7px;
}

.recommendation-content-block-list-li-down{
    background: url('../img/icons/rec-str-down-icon.png') no-repeat;
    margin-top: 9px;
}

.recommendation-content-block-list-li-none{
    background: #cccccc;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    margin-right: 4px;
    margin-top: 11px;
}